<div class="row", style="margin-top: 20px; margin-bottom: 20px;">
  <div class="col-sm-3" style="margin-left: 50px"><h2>Project name</h2></div>
  <div class="col-sm-2 pull-right" style="margin-right: 35px"><button class="btn btn-success btn-block btn-lg">Edit </button></div>
</div>

<div class="row">
  <div class='col-sm-8' style="box-shadow: 0px 11px 20px #999; padding: 15px 30px 35px 30px; margin-left: 65px;">
    <div class='row'>
      <div class="col-sm-6">
        <h3>Tasks:</h3>
        <div style="box-shadow: 0px 11px 20px #999; padding: 15px; min-height: 230px">
          <h3>Task name</h3>
          <hr>
          <p class="text-muted" style="font-size: 20px">
            Task description
          </p>
          <hr>
          <div class="pull-right">
            <button class="btn btn-info">⇅ move</button>
            <button class="btn btn-warning">✎ Edit</button>
            <button class="btn btn-danger"> ✗ Delete</button>
          </div>
        </div>
        <div style="box-shadow: 0px 11px 20px #999; padding: 15px; min-height: 230px">
          <h3>Task name</h3>
          <hr>
          <p class="text-muted" style="font-size: 20px">Task description</p>
          <hr>
          <div class="pull-right">
            <button class="btn btn-info">⇅ move</button>
            <button class="btn btn-warning">✎ Edit</button>
            <button class="btn btn-danger"> ✗ Delete</button>
          </div>
        </div>
        <div style="box-shadow: 0px 11px 20px #999; padding: 15px; min-height: 230px">
          <h3>Task name</h3>
          <hr>
          <p class="text-muted" style="font-size: 20px">Task description</p>
          <hr>
          <div class="pull-right">
            <button class="btn btn-info">⇅ move</button>
            <button class="btn btn-warning">✎ Edit</button>
            <button class="btn btn-danger"> ✗ Delete</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>New task</h3>
        <input class='form-control input-lg' placeholder="Task Name" style="margin-top: 15px;">
        <textarea class="form-control input-lg" placeholder="Task Description" style="margin-top: 15px;"></textarea>
        <button class='btn btn-default btn-lg btn-block' style="margin-top: 15px;"> + Add task</button>
      </div>
    </div>
  </div>
  <div class='col-sm-3 pull-right', style="box-shadow: 0px 11px 20px #999; padding: 15px; margin-right: 50px;">
    <h3>Users</h3>
    <div class="row">
      <div class="col-sm-8">
        <input class='form-control input-lg' placeholder="Search user">
      </div>
      <div class="col-sm-4">
        <button class="btn btn-default btn-block btn-lg">
          Search
        </button>
      </div>
    </div>
    <hr>
    <div class='row' style="margin-top: 15px;">
      <div class='col-sm-2'>
        <img src='user_photo.jpg' class="img-sircle" style="height: 10%; widht: 10%;"/>
      </div>
      <div class='col-sm-10'>
        <p style="font-size: 20px;">User name</p>
      </div>
    </div>
    <div class='row' style="margin-top: 15px;">
      <div class='col-sm-2'>
        <img src='user_photo.jpg' class="img-sircle" style="height: 10%; widht: 10%;"/>
      </div>
      <div class='col-sm-10'>
        <p style="font-size: 20px;">User name</p>
      </div>
    </div>
    <div class='row' style="margin-top: 15px;">
      <div class='col-sm-2'>
        <img src='user_photo.jpg' class="img-sircle" style="height: 10%; widht: 10%;"/>
      </div>
      <div class='col-sm-10'>
        <p style="font-size: 20px;">User name</p>
      </div>
    </div>
  </div>
</div>
