.row.m-t-lg
  .col-md-10.col-md-offset-1
    %h3.header-title
      %i.fa.fa-user.m-r-sm
      create new CUSTOMER
    .new-customer-form
      = form_for @customer do |c|
        = render 'form', c: c
