@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";


.appointment{
    background: white;
    margin-bottom: 40px;
    height: 250px;
    box-shadow: 0px 0px 1px #999;
}
.appointment.order{
    height: 220px !important;
}

.appointment-cover {
    background-color: #c5cbce;
    background-size: cover;
    background-position: center;
    height: 55px;
    position: relative;
    color: white;
    text-shadow: 0px 0px 1px #555;
}

.appointment-content {
    padding: 10px 5px;
    height: 100px;
}

.appointment-info{
    padding: 5px 5px;
    height: 50px;
}

.navbar-op{opacity: .8;}

.sidebar {
    position: fixed;
    top: 45px;
    width: 15%;
}

.list-group-item .inline{
    position: absolute;
    display: -webkit-inline-box !important;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.nav > li{display: inline-flex !important;}

.check-box{
    display: -webkit-inline-box;
}
.check-box .item{
    padding-left: 5px;
}
.status {
    position: relative;
    padding: 10px;
    text-align: left;
    background: white;
    margin-bottom: 30px;
    vertical-align: top;
    border-radius: 2px;
    border: 1px solid #eee;
    min-height: 150px;
}