@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

.new_customer{display: none;}

.people {
  .user{
    position: relative;
    padding: 10px;
    text-align: left;
    background: white;
    margin-bottom: 30px;
    vertical-align: top;
    border-radius: 2px;
    border: 1px solid #eee;
    min-height: 165px;
    }
}