@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

.bg-t{background: #03A9F4 !important}
.bg-m{background: #EEEEEE}
.bg-f{background: #03A9F4 !important}
section .t-content{
  margin-top: 200px;
  margin-bottom: 200px;
  .btn{
    background: #E91E63 !important;
    color: #EEEEEE !important;
    border: 0 !important;
    border-radius: 0;
  }
  .img-main{
    width: 100%;
    vertical-align: middle;
  }
  .img-b{
    height: 150px;
    width: 150px;
  }
  h2{
    font-weight: 100;
    font-size: 45px;
    margin: 20px auto;
    color: #312F2E
  }
}

.img-m-c{
  height: 250px;
  vertical-align: middle;
}

.login-form{
  h2{
    font-family: 'Comfortaa';
  }
  .btn{
    color: white;
    background-color: #E91E63 !important
  }
}
