@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

.btn-success.btn-border {
	color: #55ca74;
	border-color: #51c870;
	background: none;
}
.btn-primary.btn-border {
    color: #03A9F4 !important;
    border-color: #03A9F4 !important;
    background: none;
    &:hover{
        background-color: #03A9F4 !important;
        color: white !important;
    }
}

.service{
	background: white;
    margin-bottom: 40px;
    box-shadow: 0px 11px 20px #999;
    .service-top{
        height: 40px;
        background-color: #03A9F4 !important;
        padding: 0 10px;
        color: white;
        background-size: cover;
        background-position: center;
    }
    .service-cover{
        height: 200px;
        background-size: cover;
        background-position: center;
    }
    .service-bottom{
        display: none;
        position: relative;
        bottom: 0;
        transition: 3s linear;
    }
    &:hover .service-bottom{
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
        display: block;
    }
}

.service .btn-service{
	border-radius: 0px !important;
}

.service .bg-t{
    background-color: silver;
    opacity: .7;
    height: 20%;
}

.new-service-form{
    padding: 15px;
    box-shadow: 0px 4px 8px #999;
}
