@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

.btn-success.btn-border {
	color: #55ca74;
	border-color: #51c870;
	background: none;
}

.service{
	background: white;
    margin-bottom: 40px;
    height: 250px;
    box-shadow: 0px 0px 1px #999;   
}

.service-cover {
    background-color: #c5cbce;
    background-size: cover;
    background-position: center;
    height: 55px;
    position: relative;
    color: white;
    text-shadow: 0px 0px 1px #555;
}

.service-content{
    padding: 5px 5px;
    height: 100px;
}

.service .btn-group-justified >.btn{
	border: 1px solid transparent !important;
	border-radius: 1px !important;
}