.container
  .row.m.t.xl
    .col-lg-12
      %h2.text-center Appointments
  .row.m.t.lg
    - @appointments.each do |a|
      - a.services.each do |s|
        = s.name
      .form-group
        = link_to a.date.try(:strftime, "%B %d at %I:%M %p"), a
        = a.customer_id
        = link_to 'delete', appointment_path(a), method: :delete
