.m-t-xl
  %a.list-group-item.active{href: appointments_path}
    Appointments
  %a.list-group-item.inline{href: new_appointment_path}+
  %a.list-group-item{href: customers_path}
    Customers
  %a.list-group-item{href: new_customer_path, title: 'Add new customer'}+
  %a.list-group-item{href: services_path}
    Services
  %a.list-group-item{href: new_service_path, title: 'Add new service'}+