.m-t-xl
  %a.list-group-item.active{href: appointments_path}
    Appointments
  %a.list-group-item{href: new_appointment_path}
    %span.fa.fa-plus 
    appointment
  %a.list-group-item{href: customers_path}
    Customers
  %a.list-group-item{href: new_customer_path, title: 'Add new customer'}
    %span.fa.fa-plus 
    customer
  %a.list-group-item{href: services_path}
    Services
  %a.list-group-item{href: new_service_path, title: 'Add new service'}
    %span.fa.fa-plus 
    service